.main__team {
  background-color: var(--team-color);
  padding-bottom: 94px;
  padding-top: 94px;
}
.team__list {
  justify-content: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}
.team__name {
  padding: 30px 0 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__position {
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18em;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}
.team__social {
  height: 44px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.team__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--team-icon-color);
  transition: background-color,fill 250ms var(--time-hover);
}
.team__icon:hover{
background-color: var(--blue-color);
fill: var(--white-color); 
}