.title {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--title-color);
  background-image: linear-gradient(to right, var(--team-color-fon), var(--team-color-fon)),
    url(../images/team-worling.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__h {
    text-transform: uppercase;
    text-align: center;
    max-width: 696px;
    margin-top: 0;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    color: var(--white-color);
    letter-spacing: 0.06em;
  }
  &__button {
    display: block;
    padding: 10px 32px;
    margin: 0 auto;
    border-radius: 4px;
    border: 0px;
    font-family: var(--button-font-family);
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--blue-color);
    color: var(--white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &:active {
      filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.25));
    }
  }
}
